/*
008CBF
These are the css settings specific to the diversity pages, in order to jazz it all up
13l0u0kAot8mCBCt5-iDTnxJEi8
http://paletton.com/#uid=13l0u0kAot8mCBCt5-iDTnxJEi8
*/


/*Settings for text*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color:#014D58;
}

.h-padding{

}
.h-ugrad{
	padding-top: 15px;
}



.h2-center{
	text-align: center;
}

.h-center{
	text-align: center;
}

a{
	color:#36A2B1;
}

p{
	font-size: 14px;
}

.p-center{
	text-align: center;
}

#banner{
	font:'Bree Serif', 'Georgia', serif;
	display:block;
}

.subhome #content{
	border-style:none;
}

.subhome .card{
	border-style: none;
}

.card{
	text-align: center;
}

#middle{
	background-color: white;
	padding: 0px;
}

#content{
	background-color: white;
	padding-left: 7%;
	padding-right: 7%;
}

#content>.first-row{
	padding-top: 45px;
}
/*Settings for the navigation bar*/

.navbar{
	padding: 1px;
	padding-bottom: 0px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
}

.sticky{
	position: fixed;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.37);
}


/*#xs-nav{
	z-index: 1;
	width: 100%;
	background-color: #f8f8f8;
}*/

#xs-nav{
	float: none;
}
#navbar-data{
	z-index: 1;
	width: 100%;
	background-color: #f8f8f8;
}

.nav>li>a{
	font-size: 12px;
	text-align:center;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-default .navbar-nav>li>a{
	color:#1296A9;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 813px) and (min-width: 767px){
	.nav>li>a{
		font-size: 10px;
		padding: 5px 5px;
	}

}

@media (max-width: 992px) and (min-width: 767px){
	/*resources page*/
	.h-resources{
		font-size: 20px;
	}	
}

.events{
	text-align: left;
}



/*settings for resources*/

.btn{
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
}

.resource-p{
	margin-top: 5px;
	margin-bottom: 5px;
}

.resource-centers-hidden{
	display: none;
}

.resource-support-hidden{
	display: none;
}

.resource-emergency-hidden{
	display: none;
}

.resource-academic-hidden{
	display: none;
}